.lighter_gray {
    background-color: #686868;
}

.even_lighter_gray {
    background-color: #787878;
}
.even_lighter_gray_plus {
    background-color: #898989;
}
.granatowy {
    background-color: darkblue;
}