<div class="row">
  <div class="col-3 bg-dark vh-100" align="center" id="lewy">
    <span class="display-4 text-white">Zadanie</span>
    <nav class="navbar navbar-dark">
      <ul class="navbar-nav w-100">
        <li class="nav-item border border-secondary mb-1 rounded">
          <a class="nav-link" routerLink="">Różne kontrolki HTML</a>
        </li>
        <li class="nav-item border border-secondary mb-1 rounded">
          <a class="nav-link" routerLink="pracownicy">Tabela pracowników</a>
        </li>
        <li class="nav-item border border-secondary mb-1 rounded">
          <a class="nav-link" routerLink="faktury">Tabela faktur VAT</a>
        </li>
        <li class="nav-item border border-secondary mb-1 rounded">
          <a class="nav-link" routerLink="delegacje">Delegacje</a>
        </li>
        <li class="nav-item border border-secondary mb-1 rounded">
          <a class="nav-link" routerLink="kontrahenci">Kontrahenci</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="col-9" id="prawy">
    <router-outlet></router-outlet>
  </div>
</div>